.nav {
  display: flex;
  align-items: center;
  height: 2rem;
  padding-right: 1rem;
  background-color: black;
  color: white;
  justify-content: flex-end;
}

.nav > a {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
}
